name: GraalVM build
on:
  push:
    tags:
      - '*'
permissions:
  contents: write
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
      - name: Maven package
        run: |
          mvn clean package
          cd target
          java -agentlib:native-image-agent=config-output-dir=../src/main/resources/META-INF/native-image -jar jrebel-license-all.jar -s 15
          cd ../
          mvn -Pnative package
      - name: Prepare Release File (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          cp target/jrebel-license ./jrebel-license-Linux-${{ github.ref_name }}
          cp target/jrebel-license-all.jar ./jrebel-license-${{ github.ref_name }}.jar
      - name: Prepare Release File (windows only)
        if: matrix.platform == 'windows-latest'
        run: |
          cp target/jrebel-license.exe ./jrebel-license-${{ github.ref_name  }}.exe
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            jrebel-license-*
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}